.product-card {
    border: 1px solid #b6b6b6;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    width: 200px;
    text-align: center;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}

#product-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    max-width: 80%;
    margin: auto;
}

.product-card img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 8px;
}